@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 142 52% 96%;
    --foreground: 12 65% 10%;
    --card: 0 0% 100%;
    --card-foreground: 12 65% 10%;
    --primary: 0 72% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 142 45% 88%;
    --secondary-foreground: 12 65% 10%;
    --muted: 142 38% 90%;
    --muted-foreground: 148 21% 34%;
    --accent: 142 62% 42%;
    --accent-foreground: 12 65% 10%;
    --border: 142 34% 76%;
    --input: 142 34% 76%;
    --ring: 0 72% 42%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}
