@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 204 60% 97%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --primary: 201 96% 32%;
    --primary-foreground: 0 0% 100%;
    --secondary: 204 45% 91%;
    --secondary-foreground: 222 47% 11%;
    --muted: 204 45% 91%;
    --muted-foreground: 215 18% 38%;
    --accent: 199 89% 48%;
    --accent-foreground: 0 0% 100%;
    --border: 204 28% 82%;
    --input: 204 28% 82%;
    --ring: 199 89% 48%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}
